#container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #000;
}

/* Pseudo-element to insert content before */
#container::before {
  content: "Before Element ";
  color: #f00;
  font-size: 20px;
}

/* Pseudo-element to insert content after */
#container::after {
  content: " After Element ";
  color: #f00;
  font-size: 20px;
}